@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800 dark:text-gray-200 bg-gray-50 dark:bg-gray-900;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: 'Inter', system-ui, sans-serif;
}

html.dark body {
  background-image: radial-gradient(#374151 1px, transparent 1px);
}
