@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: 'Inter', system-ui, sans-serif;
}
