@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800 dark:text-gray-200 bg-white dark:bg-gray-900;
  /* puntos VERDES en modo light */
  background-image: radial-gradient(#bbf7d0 1px, transparent 1px); /* emerald-100 */
  background-size: 20px 20px;
  font-family: 'Inter', system-ui, sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden; /* Oculta el scroll global */
}

html.dark body {
  background-image: radial-gradient(#374151 1px, transparent 1px); /* gris para dark */
}

/* Scroll personalizado para la lista de marcas */
.brand-scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}
.brand-scroll::-webkit-scrollbar-thumb {
  background: #a7f3d0; /* verde claro para light */
  border-radius: 8px;
}
.brand-scroll::-webkit-scrollbar-track {
  background: #f3f4f6; /* gris claro para light */
  border-radius: 8px;
}

/* Dark mode scroll */
.dark .brand-scroll::-webkit-scrollbar-thumb {
  background: #059669; /* verde oscuro para dark */
}
.dark .brand-scroll::-webkit-scrollbar-track {
  background: #1f2937; /* gris oscuro para dark */
}